<%- include('partials/header'); -%>
<h1>Home</h1>

<p><%= homeStartingContent %></p>

<% posts.forEach((i) => { %>
  <h1> <%= i.title %></h1>
  <p>
  <%= i.body %>
  </p>
<% }) %>

<%- include('partials/footer'); -%>