<%- include('partials/header'); -%>

<h1 class='post-title'> <%= title %> </h1>
<p> <%= body %> </p>

<form action="/delete" method="post">
  <button type="submit" class="btn delete-btn btn-outline-danger btn-sm" name='postTitle' value='<%= title %>' >Delete</button>
</form>



<%- include('partials/footer'); -%>